body {

    header {
        .navbar-light {
            background-color: transparent !important;
            color: $dark-color;
        }
    }

   /*  footer {
        .bg-dark{ 
            background-color: $dark-color;
            color: $white;
        }
    } */
}