// Body
$body-bg: #f8fafc;

// Typography
$roboto: 'Roboto', sans-serif;
$roboto-slab: 'Roboto Slab', serif; 
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors 
$brand-color: #FFCBB5;
$secondary-color: #383838;
$third-color: #636363;
$light-color: #F2F2F2;
$dark-color: #262626;
$white: #FFFFFF;
$black: #000000;
// Sizes
$space-l: 6%;
$space-m: 4%;
$space-s: 2%;