// Bootstrap
/* @import "node_modules/bootstrap/scss/bootstrap"; */
@import '~bootstrap/scss/bootstrap';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

// Variables
@import 'variables';
@import 'reset';
@import 'layout';
@import 'custom';

